<header class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo">
      <a href="#hero">Emiliano Daverio</a>
    </div>

    <nav class="navbar__links">
      <a href="#about" [class.active]="currentSection === 'about'">
        {{ 'NAVBAR.ABOUT' | translate }}
      </a>
      <a href="#projects" [class.active]="currentSection === 'projects'">
        {{ 'NAVBAR.PROJECTS' | translate }}
      </a>
      <a href="#contact" [class.active]="currentSection === 'contact'">
        {{ 'NAVBAR.CONTACT' | translate }}
      </a>
    </nav>

    <div class="navbar__actions">
      <!-- Language toggle -->
      <button
        class="theme-toggle"
        [class.active]="languageService.isEnglish()"
        (click)="toggleLanguage()"
      >
        <span class="toggle-slider">
          <span
            class="flag-icon fi"
            [ngClass]="languageService.isEnglish() ? 'fi-gb' : 'fi-ar'"
          ></span>
        </span>
      </button>

      <!-- Theme toggle -->
      <button class="theme-toggle" [class.active]="themeService.isLight()" (click)="toggleTheme()">
        <span class="toggle-slider">
          <i class="fa-solid" [ngClass]="themeService.isLight() ? 'fa-sun' : 'fa-moon'"></i>
        </span>
      </button>
    </div>
  </div>
</header>
