<section id="about" class="about section">
  <div class="about__container">
    <div class="about__header fade-in-up delay-1">
      <h2 class="section-title">{{ 'ABOUT.TITLE' | translate }}<span class="dot">.</span></h2>
      <div class="title-line"></div>
    </div>

    <div class="about__content fade-in-up delay-2">
      <p class="about__paragraph" [innerHTML]="'ABOUT.BIO_P1' | translate"></p>
      <p class="about__paragraph" [innerHTML]="'ABOUT.BIO_P2' | translate"></p>
      <p class="about__paragraph" [innerHTML]="'ABOUT.BIO_P3' | translate"></p>
    </div>
  </div>
</section>
